.title-line {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  height: 100px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 2px solid rgb(235, 235, 235);
  border-bottom: 4px double black;
}

/*
.menus button {
  border: none;
  display: block;
  background: none;
  margin: 6px;
}*/

.menus button {
  display: block;
  width: 110px;
  text-align: center;
  line-height: 49px;
  text-decoration: none;
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: #5290ff;
  border-radius: 2px;
}

.card:hover {
  background-color: #52f9ff;
  border-radius: 2px;
}

.box {
  display: flex;
  margin-top: 20pt;
  border: 1px;
}
